*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
 body
 {
    background-color: #181818;
 }
 ::-webkit-scrollbar
 {
    width: 10px;
 }
 ::-webkit-scrollbar-thumb
 {
    background-color: #b79632;
    border-radius: 10px;
 }
 ::-webkit-scrollbar-track
 {
    background-color: white;
 }




nav
{
    width: 100vw;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    position: fixed;
}
nav img
{
    height: 100%;
    margin-left: 150px;
}
.links
{
    margin-right: 50px;
    height: 100%;
    display: flex;
}
nav .home
{
    background-color: #b79632;
}
nav a
{
    color: white;
    text-decoration: none;
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.toglar
{
    display: none;
    align-items: center;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
}
.home:hover,.business:hover,.about:hover,.contact:hover
{
    background-color: #b79632;
    cursor: pointer;
}
@media screen and (max-width: 900px) 
{
    nav 
    {
        position: relative;
    }
    nav img
    {
        margin-left: 20px;
    }
    .links
    {
        flex-direction: column;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: calc(100vh - 50px);
        width: 300px;
        position: absolute;
        top: 50px;
        right: 0;
    }
    nav a
    {
        height: 50px;
    }
    .toglar
    {
        display: flex;
    }
    .setteing-menu:hover .links
    {
         display: flex;
    }

}





.parent
{
    background-image: url(./images/pexels-photo-8693379.webp);
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 100px;
}
.text1
{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
}
.text1 h1
{
    font-size: 60px;
}
.text1 p
{
    width: 500px;
    font-size: 25px;
    margin: 20px 0px;
}
.span-photo
{
    color: #b79632;
}
.button-photo
{
    font-family: "Urbanist", sans-serif;
    font-size: 30px;
    padding: 20px 80px;
    color: white;
    background-color: #b79632;
    border-color:#b79632 ;
    border-radius: 50px;
    letter-spacing: 1.5px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    margin-top: 30px;
    border: none;
    cursor: pointer;
} 
.button-photo:hover
{
    background-color:#aa871f ;
}
@media screen and (max-width :900px)
{
    .parent
    {
        padding-left: 0px;
    }
    .button-photo
    {
        padding: 15px 50px;
        font-size: 20px;
    }
    .text1
    {
        width: 100%;
    }
    .text1 h1 
    {
        font-size: 50px;
    }
    .text1 p 
    {
        font-size: 17;
        width: 300px;
    }
}






.secion2
{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    margin-bottom: 100px;
}
.secion2 h1
{
    font-size: 50px;
    color: #b79632;
}
.secion2 h2,a
{
    font-size: 30px;
    color: #b79632;
}


.secion2-div1
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}


.secion2-div2
{
    width: 480px;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.secion2 img
{
    width: 70px;
    height: 70px;
}
.secion2-div2-part
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
.secion2-div2-part-text
{
    width: 380px;
    padding: 10px;
}
@media screen and (max-width :900px)
{
    .secion2
    {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .secion2 h1
    {
    font-size: 30px;
    }
     .secion2 h2,a
     {
    font-size: 24px;
    }
    .secion2-div2-part-text
    {
        width: 400px;
    }
    .secion2 img
    {
        width: 50px;
        height: 50px;
    }
}





.member
{
    margin: 100px 0px;
    width: 100vw;
    height:400px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.member img
{
    width: 500px;
    height: 80%;
    border-radius: 10%;
}
.text
{
    color: white;
    width: 520px;
    font-size: 25px;
}
.years
{
    font-size: 140%;
    color: #b79632;
}
@media screen and (max-width :900px)
{
    .member
    {
        height: 500px;
    }
    .member img
    {
        width: 350px;
    }
    .text
    {
        font-size: 20px;
        width: 400px;
    }
    .years
    {
        font-size: 140%;
    }
}


.logos
{
    color:  #b79632;
    width: 100vw;
    text-align: center;
    display:flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}
.logos img
{
    width: 150px;;
}
.logos-image
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logos-image1
{
    width: 300px;
    margin-top: 50px ;
}
.logos p
{
    font-size: 20px;
    margin-top: 10px;
}
.logos h1
{
    font-size: 50px;
}






footer
{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 70px 0px;
}
footer img
{
    height: 50px;
}

.footer-part1 p
{
    width: 400px;
    margin-top: 30px;
}
.logo-part1
{
    height: 100px;
}

.footer-logo-part2
{
    height:30px
}
.footer-phone-address
{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-logos
{
    display: flex;
    justify-content: space-evenly;
}
.footer-logo
{
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.facebook:hover
{
    background-color: blue;
}
.instagram:hover
{
    background: linear-gradient(to bottom right, deeppink, purple);
}
.map:hover
{
    background: greenyellow;
}

.footer-part3-part2-part2
{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.footer-logo-part3
{
    height: 50px;
}
footer h3
{
    margin-top: 35px;
}
footer h2
{
    color: #b79632;
}
@media screen and (max-width:900px)
{
    footer
    {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer-parts
    {
        margin: 30px 0;
    }
}


.team
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    padding: 40px 0;
    border-top: white solid 2px;
}