*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
 body
 {
    background-color: #181818;
 }





nav
{
    width: 100vw;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    position: fixed;
}
nav img
{
    height: 100%;
    margin-left: 150px;
}
.text-nav
{
    font-size: 9px;
    margin-right: 50px;
    height: 100%;
    display: flex;
}
nav .home
{
    height: 100%;
    background-color: #b79632;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
nav .business
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
nav .about
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
nav .contact
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.home:hover,.business:hover,.about:hover,.contact:hover
{
    background-color: #b79632;
}





.text-photo
{
    height: auto;
    width: 80%;
}
.text1
{
    width: 35%;
    font-size: 20px;
    float: right;
    text-align: center;
    margin: auto;
    font-family: "Urbanist", sans-serif;
}
.text1 h1
{
    font-size: 60px;
    margin-bottom: 30px;
}
.span-photo
{
    color: #b79632;
}
.button-photo
{
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    padding: 15px 50px;
    color: white;
    background-color: #b79632;
    border-color:#b79632 ;
    border-radius: 50px;
    letter-spacing: 1.5px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    margin-top: 30px;
} 
.parent
{
    background-image: url(./images/pexels-photo-8693379.webp);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}






.secion2
{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    margin-bottom: 100px;
}
.secion2 h1
{
    font-size: 50px;
    color: #b79632;
}
.secion2 h2,a
{
    font-size: 30px;
    color: #b79632;
}


.secion2-div1
{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}


.secion2-div2
{
    width: 480px;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.secion2 img
{
    width: 70px;
    height: 70px;
}
.secion2-div2-part
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}
.secion2-div2-part-text
{
    width: 380px;
    padding: 10px;
}





.member
{
    margin: 100px 0px;
    width: 100vw;
    height:400px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.member img
{
    width: 500px;
    height: 80%;
    border-radius: 10%;
}
.text
{
    color: white;
    width: 520px;
    font-size: 25px;
}
.years
{
    font-size: 140%;
    color: #b79632;
}


.logos
{
    color:  #b79632;
    width: 100vw;
    text-align: center;
    display:flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}
.logos img
{
    width: 150px;
    height: 150px;
}
.logos-image
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logos-image1
{
    width: 300px;
    margin-top: 50px ;
}
.logos p
{
    font-size: 20px;
    margin-top: 10px;
}
.logos h1
{
    font-size: 50px;
}
